In [1]:
a=input("enter a value:")
print(a, type(a))

enter a value:1234
1234 <class 'str'>

In [2]:
a=input("enter a value:")
print(a, type(a))

enter a value:12.34
12.34 <class 'str'>

In [3]:
a=input("enter a value:")
print(a, type(a))

enter a value:[1,2,3,4]
[1,2,3,4] <class 'str'>

In [4]:
a=input("enter a value:")
print(a, type(a))

enter a value:(10,20,30)
(10,20,30) <class 'str'>

In [5]:
l="[1,2,3,4]"
print(l, type(l))

[1,2,3,4] <class 'str'>

In [6]:
a=input("Enter value:")
b=input("Enter value:")
print(a+b)

Enter value:12
Enter value:34
1234

In [7]:
a=input("Enter value:")
b=input("Enter value:")
print(int(a)+int(b))

Enter value:12
Enter value:34
46

In [8]:
a=input("Enter value:")
b=input("Enter value:")
print(int(a+b))

Enter value:12
Enter value:34
1234

In [9]:
a="12"
b=int(a)
print(a, type(a))
print(b, type(b))

12 <class 'str'>
12 <class 'int'>

In [10]:
a="12.34"
b=int(a)
print(a, type(a))
print(b, type(b))

ValueError: invalid literal for int() with base 10: '12.34'

In [11]:
a="1234"
b=int(a)
print(a, type(a))
print(b, type(b))

1234 <class 'str'>
1234 <class 'int'>

In [12]:
a="12.34"
print(a, type(a))
b=float(a)
print(b, type(b))
c=int(b)
print(c, type(c))

12.34 <class 'str'>
12.34 <class 'float'>
12 <class 'int'>

In [13]:
a=12.34
b=int(a)
print(a, type(a))
print(b, type(b))

12.34 <class 'float'>
12 <class 'int'>

In [14]:
a=float(input("Enter a value:"))
b=float(input("Enter a value:"))
print(a+b)

Enter a value:12
Enter a value:34
46.0

In [15]:
a=float(input("Enter a value:"))
b=float(input("Enter a value:"))
print(a+b)

Enter a value:12
Enter a value:34.56
46.56

In [16]:
int("52")

52

In [17]:
a=int("52")#decimal number: 10
b=2*10**0+5*10**1
print(a,b)

52 52

In [18]:
a=int("101")
print(a)

101

In [19]:
a=int("101", base=2)
print(a)

5

In [20]:
a=int("101", base=2)
print(a)
b=1*2**0+0*2**1+1*2**2
print(b)

5
5

In [21]:
a=int("101", base=4)
print(a)
b=1*4**0+0*4**1+1*4**2
print(b)

17
17

In [22]:
a=int("1014", base=4)
print(a)

ValueError: invalid literal for int() with base 4: '1014'

In [23]:
a=int("10123130", base=4)
print(a)

18140

In [24]:
int("abcd")

ValueError: invalid literal for int() with base 10: 'abcd'

In [25]:
int("abcd", base=16)

43981

In [26]:
a=int("adf", base=16)
#a=10,b=11,c=12,d=13,e=14,f=15
b=15*16**0+13*16**1+10*16**2
print(a)
print(b)

2783
2783