In [1]:
name="AJA"
Address="Hyderabad"
#The company AJA located in Hyderabad
s=""

In [2]:
name="Oracle"
Address="Banglore"
#The company Oracle located in Banglore

In [3]:
name="Oracle"
Address="Banglore"
s="The company "+name
print(s)

The company Oracle

In [4]:
name="Oracle"
Address="Banglore"
s="The company "+name+"Located in"
print(s)

The company OracleLocated in

In [5]:
name="Oracle"
Address="Banglore"
s="The company "+name+" Located in "
print(s)

The company Oracle Located in

In [6]:
name="Oracle"
address="Banglore"
s="The company "+name+" Located in "+address
print(s)

The company Oracle Located in Banglore

In [7]:
name="AJA"
address="Hyderabad"
s="The company "+name+" Located in "+address
print(s)

The company AJA Located in Hyderabad

In [9]:
name="AJA"
address="Hyderabad"
s="The company "+name+" Located in "+address
print(s)
s=f"The company {name} Located in {address}"
print(s)

The company AJA Located in Hyderabad
The company AJA Located in Hyderabad

In [10]:
name="AJA"
address="Hyderabad"
s="The company "+name+" Located in "+address
print(s)
s="The company {name} Located in {address}"
print(s)

The company AJA Located in Hyderabad
The company {name} Located in {address}

In [13]:
name="AJA"
address="Hyderabad"
s="The company "+name+" Located in "+address
print(s)
s="The company {name} Located in {address}"
print(s)
s="The company %s located in %s",(name,address)
print(s)

The company AJA Located in Hyderabad
The company {name} Located in {address}
('The company %s located in %s', ('AJA', 'Hyderabad'))

In [15]:
name="AJA"
address="Hyderabad"
s="The company "+name+" Located in "+address
print(s)
s=f"The company {name} Located in {address}"
print(s)
s="The company %s located in %s"%(name,address)
print(s)

The company AJA Located in Hyderabad
The company AJA Located in Hyderabad
The company AJA located in Hyderabad

In [16]:
name="AJA"
address=500055
s="The company "+name+" Located in "+address
print(s)
s=f"The company {name} Located in {address}"
print(s)
s="The company %s located in %s"%(name,address)
print(s)

TypeError: can only concatenate str (not "int") to str

In [18]:
name="AJA"
address=500055
s="The company "+name+" Located in "+str(address)
print(s)
s=f"The company {name} Located in {address}"
print(s)
s="The company %s located in %s"%(name,address)
print(s)

The company AJA Located in 500055
The company AJA Located in 500055
The company AJA located in 500055

In [19]:
name="AJA"
address=500055.3456
s="The company "+name+" Located in "+str(address)
print(s)
s=f"The company {name} Located in {address}"
print(s)
s="The company %s located in %s"%(name,address)
print(s)

The company AJA Located in 500055.3456
The company AJA Located in 500055.3456
The company AJA located in 500055.3456

In [20]:
name="AJA"
address=500055.3456
s="The company "+name+" Located in "+str(int(address))
print(s)
s=f"The company {name} Located in {address}"
print(s)
s="The company %s located in %s"%(name,address)
print(s)

The company AJA Located in 500055
The company AJA Located in 500055.3456
The company AJA located in 500055.3456

In [23]:
name="AJA"
address=500055.3456
s="The company "+name+" Located in "+str(int(address))
print(s)
s=f"The company {name} Located in {int(address)}"
print(s)
s="The company %s located in %s"%(name,address)
print(s)

The company AJA Located in 500055
The company AJA Located in 500055
The company AJA located in 500055.3456

In [24]:
name="AJA"
address=500055.3456
s="The company "+name+" Located in "+str(int(address))
print(s)
s=f"The company {name} Located in {int(address)}"
print(s)
s="The company %s located in %s"%(name,int(address))
print(s)

The company AJA Located in 500055
The company AJA Located in 500055
The company AJA located in 500055

In [25]:
name="AJA"
address=500055.3456
s="The company "+name+" Located in "+str(int(address))
print(s)
s=f"The company {name} Located in {int(address)}"
print(s)
s="The company %s located in %d"%(name,address)
print(s)

The company AJA Located in 500055
The company AJA Located in 500055
The company AJA located in 500055

In [31]:
name="AJA"
address=500055.3456
s="The company "+name+" Located in "+str(int(address))
print(s)
s=f"The company {name} Located in {address: d}"
print(s)
s="The company %s located in %d"%(name,address)
print(s)

The company AJA Located in 500055

ValueError: Unknown format code 'd' for object of type 'float'

In [32]:
name="AJA"
address=500055.3456
s="The company "+name+" Located in "+str(int(address))
print(s)
s=f"The company {name} Located in {address: f}"
print(s)
s="The company %s located in %d"%(name,address)
print(s)

The company AJA Located in 500055
The company AJA Located in  500055.345600
The company AJA located in 500055

In [33]:
name="AJA"
address=500055.3456
s="The company "+name+" Located in "+str(round(address,2))
print(s)
s=f"The company {name} Located in {address: .2f}"
print(s)
s="The company %s located in %.2f"%(name,address)
print(s)

The company AJA Located in 500055.35
The company AJA Located in  500055.35
The company AJA located in 500055.35

In [34]:
name="AJA"
address=500055.3456
s="The company "+name+" Located in "+str(round(address,2))
print(s)
s=f"The company {name} Located in {address: .0f}"
print(s)
s="The company %s located in %.2f"%(name,address)
print(s)

The company AJA Located in 500055.35
The company AJA Located in  500055
The company AJA located in 500055.35

In [35]:
#%r, %s, %d, %f, %b

In [36]:
s=1234
print("%b"%s)

ValueError: unsupported format character 'b' (0x62) at index 1

In [37]:
s=1234
print(f"{s: b}")

 10011010010