In [1]:
import psycopg2

In [2]:
con = psycopg2.connect?

In [3]:
con = psycopg2.connect(dbname="chillacs", host="localhost",user="postgres",password="postgres",port=5432)

In [4]:
cur = con.cursor()

In [5]:
cur.execute("create table person(id integer, name varchar(250))")

In [6]:
con.close()

In [7]:
cur.close()

In [8]:
con = psycopg2.connect(dbname="chillacs", host="localhost",user="postgres",password="postgres",port=5432)
cur = con.cursor()
cur.execute("create table person(id integer, name varchar(250))")
con.commit()

In [9]:
cur.execute("insert into person values(1,'Jay')")

In [10]:
con.commit()

In [11]:
cur.execute("select * from person")

In [12]:
cur.fetchall()

[(1, 'Jay')]

In [17]:
from faker import Faker
fak = Faker()
for i in range(3, 103):
    query = f"insert into person values({i},'{fak.name()}')"
    cur.execute(query)
con.commit()

In [18]:
cur.execute("select * from person")

In [19]:
cur.fetchone()

(1, 'Jay')

In [20]:
cur.fetchone()

(2, 'Jessica Hebert')

In [22]:
print(cur.fetchall())

[]

In [23]:
cur.execute("select * from person")
print(cur.fetchone())
print(cur.fetchone())
print(cur.fetchall())

(1, 'Jay')
(2, 'Jessica Hebert')
[(3, 'Melissa Taylor'), (4, 'Barry Jackson'), (5, 'Ricky Brown'), (6, 'Molly Moore'), (7, 'Stephanie Chang'), (8, 'Lynn White'), (9, 'Richard Jones'), (10, 'Rebecca Krause'), (11, 'Martin Lopez'), (12, 'Sherry Salas'), (13, 'Shawn Johnson'), (14, 'Paula Arroyo'), (15, 'Debbie Johnson'), (16, 'Christine Robinson'), (17, 'Curtis Waters'), (18, 'John Green'), (19, 'Laurie Barrett'), (20, 'Adrian George'), (21, 'Julie Meyer'), (22, 'Vicki Jones'), (23, 'Jill Brown'), (24, 'Rachael Becker'), (25, 'Michelle Oliver'), (26, 'Crystal Morris'), (27, 'Audrey Mejia'), (28, 'John Lopez'), (29, 'Kevin Ingram'), (30, 'Tom Morrison'), (31, 'Erik Collins'), (32, 'Deborah Henderson DDS'), (33, 'Jennifer Pollard'), (34, 'Cory Phillips'), (35, 'Christopher Graves'), (36, 'Connie Lee'), (37, 'Joshua Ramirez'), (38, 'Anne Chandler'), (39, 'Donald Stevenson'), (40, 'Jim Coleman'), (41, 'Paul Moore DVM'), (42, 'Karen Christensen'), (43, 'Tommy Woods'), (44, 'Jesse Maldonado'), (45, 'Lauren Snyder'), (46, 'Vincent Roberts'), (47, 'Lynn Flores'), (48, 'Gail Ramirez'), (49, 'Mark Murphy'), (50, 'Justin Lopez'), (51, 'Carrie Nielsen'), (52, 'Mark Wright'), (53, 'James Gardner'), (54, 'Kathleen Burnett'), (55, 'David Jensen'), (56, 'Catherine Adams'), (57, 'Bill Johns'), (58, 'Patricia Ward'), (59, 'Matthew Lucas'), (60, 'Angela Robinson'), (61, 'Lori Roberts'), (62, 'Gary Conrad'), (63, 'Casey Doyle MD'), (64, 'Felicia Higgins'), (65, 'Vincent Monroe'), (66, 'Tracy Ritter'), (67, 'Benjamin Salazar'), (68, 'Alexander Levy'), (69, 'Michael Kemp'), (70, 'Jose Brooks'), (71, 'Shawn Levine'), (72, 'Joseph Blankenship'), (73, 'Eric Norris'), (74, 'Rachel Foster'), (75, 'David White'), (76, 'Frank Contreras'), (77, 'Abigail Rose'), (78, 'Victor Weaver'), (79, 'Samuel Shannon'), (80, 'Pamela Wheeler'), (81, 'Richard Castillo'), (82, 'Jesse Wilson MD'), (83, 'Tammy Pratt'), (84, 'Francisco Christensen'), (85, 'Christine Morrison'), (86, 'Brittany Rogers'), (87, 'Ann Olson'), (88, 'Connor Morgan'), (89, 'Ryan Hall'), (90, 'Ms. Cynthia Jones'), (91, 'Patrick Hendricks'), (92, 'Elizabeth Coleman'), (93, 'Kelly Martinez'), (94, 'Angel Woods'), (95, 'Michael Nelson'), (96, 'Michael Brown'), (97, 'Cynthia Villa'), (98, 'Michael Sawyer'), (99, 'Dillon Gordon'), (100, 'Jessica Bowen'), (101, 'Eric Mahoney'), (102, 'Sarah Spencer')]

In [25]:
update_query = "update person set name='JAY' where id=1"
cur.execute(update_query)
con.commit()

In [27]:
update_query = "delete from person where id=1"
cur.execute(update_query)
con.commit()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [28]:
cur.execute("rollback")

In [29]:
con.commit()

In [30]:
update_query = "delete from person where id=1"
cur.execute(update_query)
con.commit()

In [1]:
con = psycopg2.connect(dbname="chillacs", host="localhost123",user="postgres",password="postgres",port=5432)

NameError: name 'psycopg2' is not defined

In [2]:
con = psycopg2.connect(dbname="chillacs", host="localhost",user="postgres",password="postgres",port=5433)

NameError: name 'psycopg2' is not defined

In [3]:
import psycopg2

In [5]:
con = psycopg2.connect(dbname="chillacs", host="localhost1234",user="postgres",password="postgres",port=5432)

OperationalError: could not translate host name "localhost1234" to address: No such host is known.

In [6]:
con = psycopg2.connect(dbname="chillacs", host="localhost",user="postgres",password="postgres",port=5433)

OperationalError: connection to server at "localhost" (::1), port 5433 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5433 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?

In [7]:
con = psycopg2.connect(dbname="chillacs", host="localhost",user="postgres123",password="postgres",port=5432)

OperationalError: connection to server at "localhost" (::1), port 5432 failed: FATAL:  password authentication failed for user "postgres123"

In [8]:
con = psycopg2.connect(dbname="chillacs", host="localhost",user="postgres",password="postgres123",port=5432)

OperationalError: connection to server at "localhost" (::1), port 5432 failed: FATAL:  password authentication failed for user "postgres"

In [9]:
con = psycopg2.connect(dbname="chillacs", host="localhost",user="postgres",password="postgres",port=5432)

In [10]:
cur = con.cursor()

In [11]:
cur.execute("fdsafsdfsd fdsfds")

SyntaxError: syntax error at or near "fdsafsdfsd"
LINE 1: fdsafsdfsd fdsfds
        ^

In [12]:
cur.execute("select * from person")

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [15]:
cur.execute("rollback")

In [14]:
cur.execute("fdsafsdfsd fdsfds")

SyntaxError: syntax error at or near "fdsafsdfsd"
LINE 1: fdsafsdfsd fdsfds
        ^

In [16]:
cur.execute("select * from person")

In [18]:
print(cur.fetchall())

[]

In [19]:
cur.execute("select * from person123")

UndefinedTable: relation "person123" does not exist
LINE 1: select * from person123
                      ^

In [20]:
cur.execute("select age from person")

UndefinedColumn: column "age" does not exist
LINE 1: select age from person
               ^