In [1]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")

this is class

In [2]:
type(fun)

function

In [3]:
type(Emp)

type

In [4]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")
    x=1000
    y=200

this is class

In [5]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")
    x=1000
    y=200
    
    def get():
        print("this is get")
print(x)

this is class

NameError: name 'x' is not defined

In [7]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")
    x=1000
    y=200
    
    def get():
        print("this is get")
print(Emp.x)
print(Emp.y)
print(Emp.get())

this is class
1000
200
this is get
None

In [10]:
def fun():
    print("this is fun")
class Emp:
    name="Jay"
    salary=1234
    emp_id=12
print(Emp.name)
print(Emp.salary)
print(Emp.emp_id)

Jay
1234
12

In [11]:
class Emp:
    pass
jay=Emp()
jay.name="Jayram"
jay.salary=1234
jay.emp_id=12
vedha=Emp()
vedha.name="vedhanvesh"
vedha.emp_id=13
print(jay.name)
print(vedha.name)

Jayram
vedhanvesh

In [12]:
class Emp:
    def salary_cal(x):
        print(x.salary)
        
jay=Emp()
jay.name="Jayram"
jay.salary=1234
jay.emp_id=12
Emp.salary_cal(jay)
vedha=Emp()
vedha.name="vedhanvesh"
vedha.emp_id=13
Emp.salary_cal(vedha)

1234

AttributeError: 'Emp' object has no attribute 'salary'

In [13]:
class Emp:
    company="AJA"
    def salary_cal(x):
        print(x.salary)
    def set_data(x, salary, emp_id, name):
        x.name=name
        x.salary=salary
        x.emp_id=emp_id
        
        
jay=Emp()
Emp.set_data(jay, 1234, 12, "Jayaram")
# jay.name="Jayram"
# jay.salary=1234
# jay.emp_id=12
Emp.salary_cal(jay)
vedha=Emp()
Emp.set_data(vedha,1245,13,"Vedhanvesh")
# vedha.name="vedhanvesh"
# vedha.emp_id=13
Emp.salary_cal(vedha)

1234
1245

In [14]:
class Emp:
    company="AJA"
    def salary_cal(x):
        print(x.salary)
    def set_data(x, salary, emp_id, name):
        x.name=name
        x.salary=salary
        x.emp_id=emp_id        
jay=Emp()
Emp.set_data(jay, 1234, 12, "Jayaram")
Emp.salary_cal(jay)
vedha=Emp()
Emp.set_data(vedha,1245,13,"Vedhanvesh")
Emp.salary_cal(vedha)
anil=Emp()
Emp.salary_cal(anil)

1234
1245

AttributeError: 'Emp' object has no attribute 'salary'

In [15]:
class Emp:
    print("this is class")
    def get(x):
        print("this is get")
    def __init__(x):
        print("this is init")

this is class

In [16]:
class Emp:
    print("this is class")
    def get(x):
        print("this is get")
    def __init__(x):
        print("this is init")   
jay=Emp()

this is class
this is init

In [18]:
class Emp:
    print("this is class")
    def get(x):
        print("this is get")
    def __init__(x, name):# constructor
        print(x, name, id(x))
        print("this is init")   
jay=Emp("jayaram")
print(id(jay))

this is class
<__main__.Emp object at 0x0000013A8174A290> jayaram 1350791635600
this is init
1350791635600

In [20]:
class Emp:
    print("this is class")
    def get(x):
        print("this is get")
    def __init__(x, name):# constructor
        print(x, name, id(x))
        print("this is init")   
jay=Emp("jayaram")
print(id(jay))
vedha=Emp("VEDHANCESH")
print(id(vedha))

this is class
<__main__.Emp object at 0x0000013A817498D0> jayaram 1350791633104
this is init
1350791633104
<__main__.Emp object at 0x0000013A81767790> VEDHANCESH 1350791755664
this is init
1350791755664

In [21]:
class Emp:
    print("this is class")
    def get(x):
        return x.name, x.salary, x.emp_id
    def __init__(x, name, emp_id, salary):# constructor
        x.name=name
        x.salary=salary
        x.emp_id=emp_id
jay=Emp("jayaram",12,1234)
vedha=Emp("VEDHANCESH",13,1345)
print(Emp.get(jay))
print(Emp.get(vedha))

this is class
('jayaram', 1234, 12)
('VEDHANCESH', 1345, 13)

In [22]:
class Emp:
    print("this is class")
    def get(self):
        return self.name, self.salary, self.emp_id
    def __init__(self, name, emp_id, salary):# constructor
        self.name=name
        self.salary=salary
        self.emp_id=emp_id
jay=Emp("jayaram",12,1234)
vedha=Emp("VEDHANCESH",13,1345)
print(Emp.get(jay))
print(Emp.get(vedha))

this is class
('jayaram', 1234, 12)
('VEDHANCESH', 1345, 13)

In [23]:
class Emp:
    company="AJA"
    def get(self):
        return self.name, self.salary, self.emp_id
    def __init__(self, name, emp_id, salary):# constructor
        self.name=name
        self.salary=salary
        self.emp_id=emp_id
jay=Emp("jayaram",12,1234)
vedha=Emp("VEDHANCESH",13,1345)
print(Emp.get(jay))
print(Emp.get(vedha))
print(Emp.name)

('jayaram', 1234, 12)
('VEDHANCESH', 1345, 13)

AttributeError: type object 'Emp' has no attribute 'name'

In [24]:
class Emp:
    company="AJA"
    def get(self):
        return self.name, self.salary, self.emp_id
    def __init__(self, name, emp_id, salary):# constructor
        self.name=name
        self.salary=salary
        self.emp_id=emp_id
jay=Emp("jayaram",12,1234)
vedha=Emp("VEDHANCESH",13,1345)
print(Emp.get(jay))
print(Emp.get(vedha))
print(Emp.company)
print(jay.company)

('jayaram', 1234, 12)
('VEDHANCESH', 1345, 13)
AJA
AJA

In [25]:
class Emp:
    company="AJA"
    def get(self):
        return self.name, self.salary, self.emp_id
    def __init__(self, name, emp_id, salary):# constructor
        self.name=name
        self.salary=salary
        self.emp_id=emp_id
jay=Emp("jayaram",12,1234)
vedha=Emp("VEDHANCESH",13,1345)
print(jay.get())#print(Emp.get(jay))
print(vedha.get())#print(Emp.get(vedha))
print(Emp.company)
print(jay.company)

('jayaram', 1234, 12)
('VEDHANCESH', 1345, 13)
AJA
AJA

In [26]:
class Emp:
    company="AJA"
    def get_company(self):
        return self.company
    def get(self):
        return self.name, self.salary, self.emp_id
    def __init__(self, name, emp_id, salary):# constructor
        self.name=name
        self.salary=salary
        self.emp_id=emp_id
jay=Emp("jayaram",12,1234)
vedha=Emp("VEDHANCESH",13,1345)
print(jay.get())#print(Emp.get(jay))
print(vedha.get())#print(Emp.get(vedha))
print(jay.get_company())
print(vedha.get_company())

('jayaram', 1234, 12)
('VEDHANCESH', 1345, 13)
AJA
AJA

In [27]:
class Emp:
    company="AJA"
    def get_company(self):
        print(id(self))
        return self.company
    def get(self):
        return self.name, self.salary, self.emp_id
    def __init__(self, name, emp_id, salary):# constructor
        self.name=name
        self.salary=salary
        self.emp_id=emp_id
jay=Emp("jayaram",12,1234)
vedha=Emp("VEDHANCESH",13,1345)
print(jay.get())#print(Emp.get(jay))
print(vedha.get())#print(Emp.get(vedha))
print(jay.get_company())
print(vedha.get_company())
print(id(jay))

('jayaram', 1234, 12)
('VEDHANCESH', 1345, 13)
1350792910096
AJA
1350792723920
AJA
1350792910096

In [28]:
class Emp:
    company="AJA"
    @classmethod
    def get_company(self):#class method
        print("self_id",id(self))
        return self.company
    def get(self):#instance method
        return self.name, self.salary, self.emp_id
    def __init__(self, name, emp_id, salary):# constructor
        self.name=name
        self.salary=salary
        self.emp_id=emp_id
jay=Emp("jayaram",12,1234)
vedha=Emp("VEDHANCESH",13,1345)
print(jay.get())#print(Emp.get(jay))
print(vedha.get())#print(Emp.get(vedha))
print(jay.get_company())
print(vedha.get_company())
print("jay_id", id(jay))
print("Emp_id",id(Emp))

('jayaram', 1234, 12)
('VEDHANCESH', 1345, 13)
self_id 1350767626592
AJA
self_id 1350767626592
AJA
jay_id 1350792659920
Emp_id 1350767626592

In [30]:
class Emp:
    company="AJA"
    @classmethod
    def get_company(self):#class method
        return self.company
    def get(self):#instance method
        return self.name, self.salary, self.emp_id
    def __init__(self, name, emp_id, salary):
        self.name=name
        self.salary=salary
        self.emp_id=emp_id
jay=Emp("jayaram",12,1234)
print(jay.get())

('jayaram', 1234, 12)

In [31]:
class Emp:
    company="AJA"
    @classmethod
    def get_company(self):#class method
        return self.company
    def get(self):#instance method
        return self.name, self.salary, self.emp_id
    def __init__(self, name, emp_id, salary):
        self.name=name
        self.salary=salary
        self.emp_id=emp_id
    
jay=Emp("jayaram",12,1234)
print(jay.get())
print(jay.get_company())
print(Emp.get_company())

('jayaram', 1234, 12)
AJA
AJA

In [32]:
class Emp:
    company="AJA"
    @classmethod
    def get_company(self):#class method
        return self.company
    def get(self):#instance method
        return self.name, self.salary, self.emp_id
    def __init__(self, name, emp_id, salary):
        self.name=name
        self.salary=salary
        self.emp_id=emp_id
    @staticmethod
    def fun(a,b):
        return a+b
    
jay=Emp("jayaram",12,1234)
print(jay.get())
print(jay.get_company())
print(Emp.get_company())
print(Emp.fun(10,20))
print(jay.fun(1000,2000))

('jayaram', 1234, 12)
AJA
AJA
30
3000

In [1]:
# inheritance
class Parent:
    x=1000
    def __init__(self, a,b):
        self.a=a
        self.b=b
    def get(self):
        return self.x, self.a, self.b
p=Parent(10,20)
print(p.get())

(1000, 10, 20)

In [2]:
# inheritance
class Parent:
    x=1000
    def __init__(self, a,b):
        self.a=a
        self.b=b
    def get(self):
        return self.x, self.a, self.b
class Child:
    pass
c=Child()
print(c.get())

AttributeError: 'Child' object has no attribute 'get'

In [3]:
# inheritance
class Parent:
    x=1000
    def __init__(self, a,b):
        self.a=a
        self.b=b
    def get(self):
        return self.x, self.a, self.b
class Child:
    def get(self):
        return "HELLO"
c=Child()
print(c.get())

HELLO

In [4]:
# inheritance
class Parent:
    x=1000
    def __init__(self, a,b):
        self.a=a
        self.b=b
    def get(self):
        return self.x, self.a, self.b
class Child:
    def get_data(self):
        
        return "HELLO"
c=Child()
print(c.get_data())

HELLO

In [5]:
# inheritance
class Parent:
    x=1000
    def __init__(self, a,b):
        self.a=a
        self.b=b
    def get(self):
        return self.x, self.a, self.b
class Child:
    def get_data(self):
        p=Parent(10,20)
        print(p.get())
        return "HELLO"
c=Child()
print(c.get_data())

(1000, 10, 20)
HELLO

In [6]:
# inheritance
class Parent:
    x=1000
    def __init__(self, a,b):
        self.a=a
        self.b=b
    def get(self):
        return self.x, self.a, self.b
class Child:
    def get_data(self):
        print(self.get())
        return "HELLO"
c=Child()
print(c.get_data())

AttributeError: 'Child' object has no attribute 'get'

In [7]:
# inheritance
class Parent:
    x=1000
    def __init__(self, a,b):
        self.a=a
        self.b=b
    def get(self):
        return self.x, self.a, self.b
class Child(Parent):
    def get_data(self):
        print(self.get())
        return "HELLO"
c=Child()
print(c.get_data())

TypeError: Parent.__init__() missing 2 required positional arguments: 'a' and 'b'

In [8]:
# inheritance
class Parent:
    x=1000
    def __init__(self, a,b):
        self.a=a
        self.b=b
    def get(self):
        return self.x, self.a, self.b
class Child(Parent):
    def get_data(self):
        print(self.get())
        return "HELLO"
c=Child(10,20)
print(c.get_data())

(1000, 10, 20)
HELLO

In [9]:
# inheritance
class Parent:
    x=1000
    def __init__(self, a,b):
        self.a=a
        self.b=b
    def get(self):
        return self.x, self.a, self.b
class Child(Parent):
    def get_data(self):
        print(self.get())
        return "HELLO"
    def get(self):
        print("this is get in child")
c=Child(10,20)
print(c.get_data())

this is get in child
None
HELLO

In [10]:
# inheritance
class Parent:
    x=1000
    def __init__(self, a,b):
        self.a=a
        self.b=b
    def get(self):
        return self.x, self.a, self.b
    
class Child(Parent):
    pass
c=Child(10,20)
print(c.get())

(1000, 10, 20)

In [ ]:
# inheritance
class Parent:
    x=1000
    def __init__(self, a,b):
        self.a=a
        self.b=b
    def get(self):
        return self.x, self.a, self.b
    
class Child(Parent):# infinite iteration..
    def get(self):
        return self.get()
c=Child(10,20)
print(c.get())

In [11]:
# inheritance
class Parent:
    x=1000
    def __init__(self, a,b):
        self.a=a
        self.b=b
    def get(self):
        return self.x, self.a, self.b
    
class Child(Parent):# infinite iteration..
    def get(self):
        return Parent.get(self)
c=Child(10,20)
print(c.get())

(1000, 10, 20)

In [12]:

class Employee:
    def __init__(self, name, e_id):
        self.name=name
        self.e_id=e_id
    
    def get(self):
        return self.name, self.e_id
    
e1=Employee("e1",10)
print(e1.get())

('e1', 10)

In [13]:

class Employee:
    def __init__(self, name, e_id, phone):
        self.name=name
        self.e_id=e_id
        self.phone=phone
    def get(self):
        return self.name, self.e_id,self.phone
    
e1=Employee("e1",10,"23456")
print(e1.get())

('e1', 10, '23456')

In [15]:

class Employee:
    def __init__(self, name, e_id, phone, email):
        self.name=name
        self.e_id=e_id
        self.phone=phone
        self.email=email
    def get(self):
        return self.name, self.e_id,self.phone, self.email
    
e1=Employee("e1",10,"23456","e@gmail.com")
print(e1.get())

('e1', 10, '23456', 'e@gmail.com')

In [16]:
from emp import Employee
e1=Employee("e1",10)
print(e1.get())

('e1', 10)

In [20]:
from emp import Employee
e1=Employee("e1",10,"324325","e1@gmail.com")
print(e1.get())

TypeError: Employee.__init__() takes 3 positional arguments but 5 were given

In [3]:
from emp import Employee
class MyEmployee(Employee):
    def __init__(self, name, e_id, phone, email):
        self.name=name
        self.e_id=e_id
        self.phone=phone
        self.email=email
    def get(self):
        return self.name, self.e_id,self.phone, self.email
e1=MyEmployee("e1",10,432453252,"e1@gmail.clom")
print(e1.get())

('e1', 10, 432453252, 'e1@gmail.clom')

In [4]:
from emp import Employee
class MyEmployee(Employee):
    def __init__(self, name, e_id, phone, email):
#         self.name=name
#         self.e_id=e_id
        Employee.__init__(self, name, e_id)
        self.phone=phone
        self.email=email
    def get(self):
        return Employee.get(self)+(self.phone, self.email)
e1=MyEmployee("e1",10,432453252,"e1@gmail.clom")
print(e1.get())

('e1', 10, 432453252, 'e1@gmail.clom')

In [5]:
from emp import Employee
class MyEmployee(Employee):
    def __init__(self, name, e_id, phone, email):
        Employee.__init__(self, name, e_id)
        self.phone=phone
        self.email=email
    def get(self):
        return Employee.get(self)+(self.phone, self.email)
e1=MyEmployee("e1",10,432453252,"e1@gmail.clom")
print(e1.get())

('e1', 10, 432453252, 'e1@gmail.clom')

In [ ]:
from emp import Employee
class MyEmployee(Employee):
    def __init__(self, name, e_id, phone, email):
        self.__init__(name, e_id)# infinite recursion
        self.phone=phone
        self.email=email
    def get(self):
        return self.get()+(self.phone, self.email)# infinite recursion
e1=MyEmployee("e1",10,432453252,"e1@gmail.clom")
print(e1.get())

In [6]:
from emp import Employee
class MyEmployee(Employee):
    def __init__(self, name, e_id, phone, email):
        super(MyEmployee, self).__init__(name, e_id)# infinite recursion
        self.phone=phone
        self.email=email
    def get(self):
        return super(MyEmployee,self).get()+(self.phone, self.email)# infinite recursion
e1=MyEmployee("e1",10,432453252,"e1@gmail.clom")
print(e1.get())

('e1', 10, 432453252, 'e1@gmail.clom')

In [2]:
from emp import Employee
class MyEmployee(Employee):
    def __init__(self, name, e_id, phone, email):
        super(MyEmployee, self).__init__(name, e_id)# infinite recursion
        self.phone=phone
        self.email=email
    def get(self):
        return super(MyEmployee,self).get()+(self.phone, self.email)+tuple(self.get1())# infinite recursion
e1=MyEmployee("e1",10,432453252,"e1@gmail.clom")
print(e1.get())

('e1', 10, 432453252, 'e1@gmail.clom', 'H', 'E', 'L', 'L', 'O')

In [3]:
"""
company: bands: A:20LPA, B: 30LPA, C:40LPA 
"""
class Emp:
    def __init__(self, name, band):
        self.name=name
        self.band=band
        if self.band=="A":
            sal=2000000
        elif self.band=="B":
            sal=3000000
        elif self.band=="C":
            sal=4000000
        self.salary=sal
a=Emp("employee_1","A")
b=Emp("employee_2","B")
c=Emp("employee_3","C")
print(c.salary)

4000000

In [4]:
"""
company: bands: A:20LPA, B: 30LPA, C:40LPA 
"""
band_salary_data = {"A":2000000, "B":3000000, "C":4000000}
class Emp:
    def __init__(self, name, band):
        self.name=name
        self.band=band
        self.salary=band_salary_data[band]
a=Emp("employee_1","A")
b=Emp("employee_2","B")
c=Emp("employee_3","C")
print(c.salary)

4000000

In [5]:
"""
company: bands: A:20LPA, B: 30LPA, C:40LPA 
"""
band_salary_data = {"A":2000000, "B":3000000, "C":4000000}
class Emp:
    def __init__(self, name, band):
        self.name=name
        self.band=band
        self.salary=band_salary_data.get(band, 0)
a=Emp("employee_1","A")
b=Emp("employee_2","B")
c=Emp("employee_3","C")
print(c.salary)

4000000

In [6]:
"""
company: bands: A:20LPA, B: 30LPA, C:40LPA 
"""
band_salary_data = {"A":2000000, "B":3000000, "C":4000000}
class Emp:
    def __init__(self, name, band):
        self.name=name
        self.band=band
        self.salary=band_salary_data.get(band, 0)
a=Emp("employee_1","A")
b=Emp("employee_2","B")
c=Emp("employee_3","C")
print(c.salary)
a.band="B"
print(a.salary)

4000000
2000000

In [3]:
class Emp:
    def __init__(self, name, salary):
        self.name=name
        self.salary=salary
e1=Emp("e1",21344321)
with Emp("e2",234) as e2:
    print(e2)
    print("hello")

TypeError: 'Emp' object does not support the context manager protocol

In [6]:
# __enter__, __exit__
print("MAIN")
class Emp:
    
    def __init__(self, name, salary):
        print("INIT")
        self.name=name
        self.salary=salary
    def __enter__(self, *args, **kwargs):
        print("ENTER")
        print("WITH BLOCK SARTED")
    def __exit__(self, *args, **kwargs):
        print("WITH BLOCK ENDED")
        print("EXIT")
e1=Emp("e1",21344321)
print("OPENING WITH BLOCK")
with Emp("e2",234) as e2:
    print(e2)
    print("hello")
print("MAIN")

MAIN
INIT
OPENING WITH BLOCK
INIT
ENTER
WITH BLOCK SARTED
None
hello
WITH BLOCK ENDED
EXIT
MAIN

In [7]:
# __enter__, __exit__
print("MAIN")
class Emp:
    
    def __init__(self, name, salary):
        print("INIT")
        self.name=name
        self.salary=salary
    def __enter__(self, *args, **kwargs):
        print("ENTER")
        print("WITH BLOCK SARTED")
        return self
    def __exit__(self, *args, **kwargs):
        print("WITH BLOCK ENDED")
        print("EXIT")
e1=Emp("e1",21344321)
print("OPENING WITH BLOCK")
with Emp("e2",234) as e2:
    print(e2)
    print("hello")
    
print("MAIN")

MAIN
INIT
OPENING WITH BLOCK
INIT
ENTER
WITH BLOCK SARTED
<__main__.Emp object at 0x0000016523BE4D90>
hello
WITH BLOCK ENDED
EXIT
MAIN

In [8]:
# __enter__, __exit__
print("MAIN")
class Emp:
    
    def __init__(self, name, salary):
        print("INIT")
        self.name=name
        self.salary=salary
    def __enter__(self, *args, **kwargs):
        print("ENTER")
        print("WITH BLOCK SARTED")
        return self
    def __exit__(self, *args, **kwargs):
        print("WITH BLOCK ENDED")
        print("EXIT")
e1=Emp("e1",21344321)
print("OPENING WITH BLOCK")
with Emp("e2",234) as e2:
    print(e2)
    print("hello")
print(e2) 
print("MAIN")

MAIN
INIT
OPENING WITH BLOCK
INIT
ENTER
WITH BLOCK SARTED
<__main__.Emp object at 0x000001652343D510>
hello
WITH BLOCK ENDED
EXIT
<__main__.Emp object at 0x000001652343D510>
MAIN

In [9]:
f=open("data1.txt")
data=f.read()
print(data)

Many Hindus believe that the Kumbh Mela originated in times immemorial
and is attested in the Hindu Puranas about Samudra Manthana (lit. churning of the ocean)
found in the Puranas. Historians, in contrast, reject these claims as none of the ancient or
 medieval era texts that mention the Samudra Manthana legend ever link it to a "mela" or festival.
According to Giorgio Bonazzoli, a scholar of Sanskrit Puranas, these are anachronistic explanations,
an adaptation of early legends to a later practice by a "small circle of adherents"
who have sought the roots of a highly popular pilgrimage and festiva

In [10]:
print(dir(f))

['_CHUNK_SIZE', '__class__', '__del__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '_checkClosed', '_checkReadable', '_checkSeekable', '_checkWritable', '_finalizing', 'buffer', 'close', 'closed', 'detach', 'encoding', 'errors', 'fileno', 'flush', 'isatty', 'line_buffering', 'mode', 'name', 'newlines', 'read', 'readable', 'readline', 'readlines', 'reconfigure', 'seek', 'seekable', 'tell', 'truncate', 'writable', 'write', 'write_through', 'writelines']

In [12]:
f.closed

False

In [13]:
f.close()

In [14]:
f.closed

True

In [15]:
f=open("data1.txt")
data=f.read()
print(data)
f.close()

Many Hindus believe that the Kumbh Mela originated in times immemorial
and is attested in the Hindu Puranas about Samudra Manthana (lit. churning of the ocean)
found in the Puranas. Historians, in contrast, reject these claims as none of the ancient or
 medieval era texts that mention the Samudra Manthana legend ever link it to a "mela" or festival.
According to Giorgio Bonazzoli, a scholar of Sanskrit Puranas, these are anachronistic explanations,
an adaptation of early legends to a later practice by a "small circle of adherents"
who have sought the roots of a highly popular pilgrimage and festiva

In [16]:
with open("data1.txt") as f:
    data=f.read()
    print(data)

Many Hindus believe that the Kumbh Mela originated in times immemorial
and is attested in the Hindu Puranas about Samudra Manthana (lit. churning of the ocean)
found in the Puranas. Historians, in contrast, reject these claims as none of the ancient or
 medieval era texts that mention the Samudra Manthana legend ever link it to a "mela" or festival.
According to Giorgio Bonazzoli, a scholar of Sanskrit Puranas, these are anachronistic explanations,
an adaptation of early legends to a later practice by a "small circle of adherents"
who have sought the roots of a highly popular pilgrimage and festiva

In [17]:
f.closed

True

In [18]:
with open("data1.txt") as f:
    data=f.read()
    raise Exception("SOME ISSUE")
    print(data)

Exception: SOME ISSUE

In [19]:
f.closed

True

In [20]:
# __enter__, __exit__
print("MAIN")
class Emp:
    
    def __init__(self, name, salary):
        print("INIT")
        self.name=name
        self.salary=salary
    def __enter__(self, *args, **kwargs):
        print("ENTER")
        print("WITH BLOCK SARTED")
        return self
    def __exit__(self, *args, **kwargs):
        print("WITH BLOCK ENDED")
        print("EXIT")
e1=Emp("e1",21344321)
print("OPENING WITH BLOCK")
with Emp("e2",234) as e2:
    print(e2)
    print("hello")
print(e2) 
print("MAIN")

MAIN
INIT
OPENING WITH BLOCK
INIT
ENTER
WITH BLOCK SARTED
<__main__.Emp object at 0x0000016523C06DD0>
hello
WITH BLOCK ENDED
EXIT
<__main__.Emp object at 0x0000016523C06DD0>
MAIN

In [21]:
# __enter__, __exit__
print("MAIN")
class Emp:
    
    def __init__(self, name, salary):
        print("INIT")
        self.name=name
        self.salary=salary
    def __enter__(self, *args, **kwargs):
        print("ENTER")
        print("WITH BLOCK SARTED")
        return self
    def __exit__(self, *args, **kwargs):
        print("WITH BLOCK ENDED")
        print("EXIT")
e1=Emp("e1",21344321)
print("OPENING WITH BLOCK")
with Emp("e2",234) as e2:
    print(e2)
    raise Exception("SOME ISSUE")
    print("hello")
print(e2) 
print("MAIN")

MAIN
INIT
OPENING WITH BLOCK
INIT
ENTER
WITH BLOCK SARTED
<__main__.Emp object at 0x0000016523C07A90>
WITH BLOCK ENDED
EXIT

Exception: SOME ISSUE

In [24]:
import psycopg2

try:
    con = psycopg2.connect(host="localhost",user="postgres",password="postgres",port=5432,database="chillacs")
except Exception as err:
    print(err)
finally:
    con.close()

In [25]:
con.closed

1

In [26]:
with psycopg2.connect(host="localhost",user="postgres",password="postgres",port=5432,database="chillacs") as con:
    print("connected to db")
    cur = con.cursor()
    cur.execute("select * from person")
    data = cur.fetchall()
    print(data)

connected to db
[(2, 'Jessica Hebert'), (3, 'Melissa Taylor'), (4, 'Barry Jackson'), (5, 'Ricky Brown'), (6, 'Molly Moore'), (7, 'Stephanie Chang'), (8, 'Lynn White'), (9, 'Richard Jones'), (10, 'Rebecca Krause'), (11, 'Martin Lopez'), (12, 'Sherry Salas'), (13, 'Shawn Johnson'), (14, 'Paula Arroyo'), (15, 'Debbie Johnson'), (16, 'Christine Robinson'), (17, 'Curtis Waters'), (18, 'John Green'), (19, 'Laurie Barrett'), (20, 'Adrian George'), (21, 'Julie Meyer'), (22, 'Vicki Jones'), (23, 'Jill Brown'), (24, 'Rachael Becker'), (25, 'Michelle Oliver'), (26, 'Crystal Morris'), (27, 'Audrey Mejia'), (28, 'John Lopez'), (29, 'Kevin Ingram'), (30, 'Tom Morrison'), (31, 'Erik Collins'), (32, 'Deborah Henderson DDS'), (33, 'Jennifer Pollard'), (34, 'Cory Phillips'), (35, 'Christopher Graves'), (36, 'Connie Lee'), (37, 'Joshua Ramirez'), (38, 'Anne Chandler'), (39, 'Donald Stevenson'), (40, 'Jim Coleman'), (41, 'Paul Moore DVM'), (42, 'Karen Christensen'), (43, 'Tommy Woods'), (44, 'Jesse Maldonado'), (45, 'Lauren Snyder'), (46, 'Vincent Roberts'), (47, 'Lynn Flores'), (48, 'Gail Ramirez'), (49, 'Mark Murphy'), (50, 'Justin Lopez'), (51, 'Carrie Nielsen'), (52, 'Mark Wright'), (53, 'James Gardner'), (54, 'Kathleen Burnett'), (55, 'David Jensen'), (56, 'Catherine Adams'), (57, 'Bill Johns'), (58, 'Patricia Ward'), (59, 'Matthew Lucas'), (60, 'Angela Robinson'), (61, 'Lori Roberts'), (62, 'Gary Conrad'), (63, 'Casey Doyle MD'), (64, 'Felicia Higgins'), (65, 'Vincent Monroe'), (66, 'Tracy Ritter'), (67, 'Benjamin Salazar'), (68, 'Alexander Levy'), (69, 'Michael Kemp'), (70, 'Jose Brooks'), (71, 'Shawn Levine'), (72, 'Joseph Blankenship'), (73, 'Eric Norris'), (74, 'Rachel Foster'), (75, 'David White'), (76, 'Frank Contreras'), (77, 'Abigail Rose'), (78, 'Victor Weaver'), (79, 'Samuel Shannon'), (80, 'Pamela Wheeler'), (81, 'Richard Castillo'), (82, 'Jesse Wilson MD'), (83, 'Tammy Pratt'), (84, 'Francisco Christensen'), (85, 'Christine Morrison'), (86, 'Brittany Rogers'), (87, 'Ann Olson'), (88, 'Connor Morgan'), (89, 'Ryan Hall'), (90, 'Ms. Cynthia Jones'), (91, 'Patrick Hendricks'), (92, 'Elizabeth Coleman'), (93, 'Kelly Martinez'), (94, 'Angel Woods'), (95, 'Michael Nelson'), (96, 'Michael Brown'), (97, 'Cynthia Villa'), (98, 'Michael Sawyer'), (99, 'Dillon Gordon'), (100, 'Jessica Bowen'), (101, 'Eric Mahoney'), (102, 'Sarah Spencer')]

In [27]:
con.closed

0

In [28]:
cur.closed

False

In [29]:
with psycopg2.connect(host="localhost",user="postgres",password="postgres",port=5432,database="chillacs") as con1:
    print("connected to db")
    cur = con1.cursor()
    cur.execute("select * from person")
    data = cur.fetchall()
    print(data)

connected to db
[(2, 'Jessica Hebert'), (3, 'Melissa Taylor'), (4, 'Barry Jackson'), (5, 'Ricky Brown'), (6, 'Molly Moore'), (7, 'Stephanie Chang'), (8, 'Lynn White'), (9, 'Richard Jones'), (10, 'Rebecca Krause'), (11, 'Martin Lopez'), (12, 'Sherry Salas'), (13, 'Shawn Johnson'), (14, 'Paula Arroyo'), (15, 'Debbie Johnson'), (16, 'Christine Robinson'), (17, 'Curtis Waters'), (18, 'John Green'), (19, 'Laurie Barrett'), (20, 'Adrian George'), (21, 'Julie Meyer'), (22, 'Vicki Jones'), (23, 'Jill Brown'), (24, 'Rachael Becker'), (25, 'Michelle Oliver'), (26, 'Crystal Morris'), (27, 'Audrey Mejia'), (28, 'John Lopez'), (29, 'Kevin Ingram'), (30, 'Tom Morrison'), (31, 'Erik Collins'), (32, 'Deborah Henderson DDS'), (33, 'Jennifer Pollard'), (34, 'Cory Phillips'), (35, 'Christopher Graves'), (36, 'Connie Lee'), (37, 'Joshua Ramirez'), (38, 'Anne Chandler'), (39, 'Donald Stevenson'), (40, 'Jim Coleman'), (41, 'Paul Moore DVM'), (42, 'Karen Christensen'), (43, 'Tommy Woods'), (44, 'Jesse Maldonado'), (45, 'Lauren Snyder'), (46, 'Vincent Roberts'), (47, 'Lynn Flores'), (48, 'Gail Ramirez'), (49, 'Mark Murphy'), (50, 'Justin Lopez'), (51, 'Carrie Nielsen'), (52, 'Mark Wright'), (53, 'James Gardner'), (54, 'Kathleen Burnett'), (55, 'David Jensen'), (56, 'Catherine Adams'), (57, 'Bill Johns'), (58, 'Patricia Ward'), (59, 'Matthew Lucas'), (60, 'Angela Robinson'), (61, 'Lori Roberts'), (62, 'Gary Conrad'), (63, 'Casey Doyle MD'), (64, 'Felicia Higgins'), (65, 'Vincent Monroe'), (66, 'Tracy Ritter'), (67, 'Benjamin Salazar'), (68, 'Alexander Levy'), (69, 'Michael Kemp'), (70, 'Jose Brooks'), (71, 'Shawn Levine'), (72, 'Joseph Blankenship'), (73, 'Eric Norris'), (74, 'Rachel Foster'), (75, 'David White'), (76, 'Frank Contreras'), (77, 'Abigail Rose'), (78, 'Victor Weaver'), (79, 'Samuel Shannon'), (80, 'Pamela Wheeler'), (81, 'Richard Castillo'), (82, 'Jesse Wilson MD'), (83, 'Tammy Pratt'), (84, 'Francisco Christensen'), (85, 'Christine Morrison'), (86, 'Brittany Rogers'), (87, 'Ann Olson'), (88, 'Connor Morgan'), (89, 'Ryan Hall'), (90, 'Ms. Cynthia Jones'), (91, 'Patrick Hendricks'), (92, 'Elizabeth Coleman'), (93, 'Kelly Martinez'), (94, 'Angel Woods'), (95, 'Michael Nelson'), (96, 'Michael Brown'), (97, 'Cynthia Villa'), (98, 'Michael Sawyer'), (99, 'Dillon Gordon'), (100, 'Jessica Bowen'), (101, 'Eric Mahoney'), (102, 'Sarah Spencer')]

In [30]:
con1.closed

0

In [ ]:
with psycopg2.connect(host="localhost",user="postgres",password="postgres",port=5432,database="chillacs") as con1:
    print("connected to db")
    cur = con1.cursor()
    cur.execute("select * from person")
    data = cur.fetchall()
    print(data)

In [31]:
psycopg2.connect

In [32]:
#singleton:

In [33]:
class Emp:
    def __init__(self,name):
        self.name=name
e1=Emp("e1")#123
e2=Emp("e2")
e3=Emp("e3")
print(id(e1))
print(id(e2))
print(id(e3))

1533903942800
1533903934032
1533903942288

In [34]:
# write a code for object count
class Emp:
    def __init__(self,name):
        self.count=0
        self.name=name
        self.count=self.count+1
e1=Emp("e1")#123
e2=Emp("e2")
e3=Emp("e3")
print(Emp.count)

AttributeError: type object 'Emp' has no attribute 'count'

In [35]:
# write a code for object count
class Emp:
    
    def __init__(self,name):
        self.count=0
        self.name=name
        self.count=self.count+1
e1=Emp("e1")#123
e2=Emp("e2")
e3=Emp("e3")
print(e3.count)

1

In [37]:
# write a code for object count
class Emp:
    count=0
    def __init__(self,name):
        self.name=name
        self.count=self.count+1
e1=Emp("e1")
print(Emp.count)
e2=Emp("e2")
print(Emp.count)
e3=Emp("e3")
print(Emp.count)

0
0
0

In [38]:
print(e3.count)

1

In [39]:
self.__class__

NameError: name 'self' is not defined

In [40]:
# write a code for object count
class Emp:
    count=0
    def __init__(self,name):
        self.name=name
        self.__class__.count=self.__class__.count+1
e1=Emp("e1")
print(Emp.count)
e2=Emp("e2")
print(Emp.count)
e3=Emp("e3")
print(Emp.count)

1
2
3

In [41]:
# write a code for object count
class Emp:
    count=0
    def __init__(self,name):
        print(self.__class__)
        self.name=name
        self.__class__.count=self.__class__.count+1
e1=Emp("e1")
print(Emp.count)
e2=Emp("e2")
print(Emp.count)
e3=Emp("e3")
print(Emp.count)

<class '__main__.Emp'>
1
<class '__main__.Emp'>
2
<class '__main__.Emp'>
3